.title1 {
    text-align: center;
    font-size: 3vw;
}
.title2 {
    text-align: center;
    font-size: 2vw;
}
/*--- cartlist ---*/
.cartlist {
    table-layout: fixed;
    margin: auto;
    border: 1px solid;
}
.cartlist th, 
.cartlist td {
    border: 1px solid;
    padding: 5px 10px;
    text-align: center;
}

.cart_info {
    margin-top: 5vw;
    display: flex;
    align-items: end;
}

.cart_order {
    table-layout: fixed;
    margin-left: auto;
}

.cart_order th {
    text-align: left;
    width: 7vw;
}

.cart_order td {
    padding: 15px 15px;
    text-align: right;
}

/*--- order_conf ---*/
.user_info {
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
}

.user_info th {
    text-align: center;
}

.order_info {
    margin-left: auto;
    margin-right: auto;
    height: 15vw;
}

.order_info th {
    width: 25vw;
}

.order_info td {
    text-align: right;
}

.order_conp {
    text-align: center;
    font-size: large;
}
.order_conp_top {
    text-align: center;
}

/*--- footer ---*/

.footer {
    background-color: lightgray;
    height: 8vw;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid;
}

.foot_table {
    height: 15vw;
}

.foot_table th {
    border: solid 1px lightgray;
    width: 50%;
}
.copyright {
    text-align: center;
    color: gray;
}

.category {
    display: block;
    color: black;
    text-align: center;
}

.category_info {
    text-align: center;
}

/*--- detail_product ---*/

.item_img {
    position: relative;
    left: 7vw;
}

.item_name {
    position: absolute;
    top: 20vw;
    left: 57vw;
}

.item_price {
    position: absolute;
    top: 25vw;
    left: 57vw;
}

.item_cart {
    position: absolute;
    top: 30vw;
    left: 57vw;
}

.item_detail {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.item_info {
    text-align: center;
    font-size: 2vw;
}

.item_info2 {
    text-align: center;
}

.loved i {
    color: pink !important;
 }

.like_position {
    position: absolute;
    top: 30.6vw;
    left: 68vw;
    font-size: large;
}

.like_none {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10vw;
    height: 5vw;
    line-height: 5vw;
    width: 90%;
    background-color: lightgray;
    font-size: large;
}

.like_bottom {
    height: 30vw;
}

.cart_none {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vw;
    text-align: center;
    margin-top: 8vw;
    height: 5vw;
    line-height: 5vw;
    width: 100%;
    background-color: lightgray;
    font-size: large;
}

/*--- mypage ---*/

.users {
    margin-top: 5vw;
    margin-bottom: 5vw;
    position: relative;
}

.user {
    background-color: lightgray;
    max-width: 25vw;
    height: 20vw;
}

.user_name {
    position: absolute;
    top: 1vw;
    font-size: large;
}

.user_mail {
    position: absolute;
    top: 4vw;
    left: 2vw;
    background-color: white;
    width: 21vw;
    height: 13vw;
    line-height: 13vw;
}

.user_like {
    position: absolute;
    top: 1vw;
    left: 28vw;
    background-color: lightgrey;
    width: 10vw;
    height: 8vw;
    line-height: 8vw;
    text-align: center;
}

.user_cart {
    position: absolute;
    top: 1vw;
    left: 40vw;
    background-color: lightgrey;
    width: 10vw;
    height: 8vw;
    line-height: 8vw;
    text-align: center;
}

.user_history {
    position: absolute;
    top: 11vw;
    left: 28vw;
    background-color: lightgrey;
    width: 10vw;
    height: 8vw;
    line-height: 8vw;
    text-align: center;
}

.user_edit {
    position: absolute;
    top: 11vw;
    left: 40vw;
    background-color: lightgrey;
    width: 10vw;
    height: 8vw;
    line-height: 8vw;
    text-align: center;
}

.register {
    text-align: center;
    height: 5vw;
    line-height: 5vw;
}

.user_link {
    color: black;
}
/*--- admin ---*/

.item_list {
    margin-top: 3vw;
    margin-left: 5vw;
    margin-bottom: 3vw;
    background-color: lightgray;
    width: 10vw;
    height: 5vw;
    line-height: 5vw;
    text-align: center;
}

.item1 {
    color: black;
}

/* 商品高さ */
.card_height {
    height: 450px;;
}

/* review関連 */
.review_btn {
    margin-top: 80px;
}